<div>
  @if (!this.auth.isActiveSession()) {
    <form class="form" [formGroup]="form.signInForm" (submit)="sendCredentials(email, password)">
      <div class="login__input">
        <label for="email_input">Email</label>
        <input class="form__input" id="email_input" type="email" formControlName="email" />
      </div>
      <div class="login__input">
        <label for="password_input">Password</label>
        <input
          class="form__input"
          id="password_input"
          type="password"
          autocomplete="off"
          formControlName="password"
        />
      </div>
      <button class="btn btn--submit" type="submit">Sign In</button>
    </form>
  }
</div>
