@use '../abstracts/' as *;

.btn {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  @include font($fs: clamp(1rem, 1rem, 1vw));
  &__icon {
    &--add {
      @include backgroundImg($w: 40px, $h: 40px, $bi: url('/img/add.svg'));
    }
    &--cancel {
      @include backgroundImg($w: 40px, $h: 40px, $bi: url('/img/close_red.svg'));
    }
    &--delete {
      @include backgroundImg($w: 40px, $h: 40px, $bi: url('/img/delete.svg'));
    }
    &--submit {
      @include backgroundImg($w: 40px, $h: 40px, $bi: url('/img/submit_alt.svg'));
    }
     &--back {
      @include backgroundImg($w: 40px, $h: 40px, $bi: url('/img/back.svg'));
    }
    &--edit {
      @include backgroundImg($w: 40px, $h: 40px, $bi: url('/img/edit_white.svg'));
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        @include border($bw: 2px, $bs: outset, $bc: #f5e8b7);
        box-shadow: 0px 0px 6px #e9da92;
      }
    }
   
  }

  &__hovered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    height: inherit;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    padding: 0;
    margin: 0;
    border: 0;
    &--delete {
      mix-blend-mode: exclusion;
    }
  }

  &--submit {
    @include border($br: 4px);
    @include size($h: 24px);
    background-color: green;
    color: #ffefb3;
  }

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0;
    cursor: default;
  }
}

  a.btn {
    display: flex;
  }