<form (ngSubmit)="sendDataToDB()" [formGroup]="forms.entryForm" class="form">
  <section class="form__wrap g-1">
    <h2 class="text__primary text__primary--h2">Knowledge Entry</h2>
    <div>
      <label for="title" class="text__primary">Title: </label>
      <input
        id="title"
        type="text"
        formControlName="title"
        placeholder="what topic is it about?"
        class="form__input form__input--title text__primary--input"
      />
    </div>

    <div class="form__group--edit">
      <label for="description" class="text__primary">Description: </label>
      <textarea
        id="description"
        type="text"
        formControlName="description"
        placeholder="enter the main description. sub-categories can be written in Sub Entry - section below"
        class="form__input form__input--textarea text__primary--input"
      ></textarea>
    </div>

    <div formArrayName="tags" class="form__group">
      <div class="form__wrap">
        <div class="header__nav">
          <h4 class="text__primary">Tags:</h4>
          <div class="tag--wrap">
            @for (item of forms.tags.controls; track item; let tagIndex = $index) {
              <span id="tags-{{ tagIndex }}" class="tag">{{ item.value }}</span>
            }
          </div>
        </div>
      </div>
      <app-select [renderedTags]="forms.tags.value" (newTag)="forms.addTags($event)"></app-select>
    </div>
  </section>
  <section>
    <div class="header__nav">
      <h2 class="text__primary text__primary--h2">Sub Entry:</h2>
      <button class="btn btn__icon--add" type="button" (click)="forms.addSubEntry()"></button>
    </div>
    <div formArrayName="subEntries">
      <div>
        <section class="form__group--sub-entry">
          @for (subEntry of forms.subEntries.controls; track subEntry; let indexSubEntry = $index) {
            <div [formGroupName]="indexSubEntry" class="form--sub-entry">
              <div>
                <label for="subTitle-{{ indexSubEntry }}-{{ subEntry }}"></label>
                <input
                  id="subTitle-{{ indexSubEntry }}-{{ subEntry }}"
                  type="text"
                  formControlName="subTitle"
                  class="form__input form__input--description text__primary--input"
                  placeholder="enter sub-title"
                />
              </div>

              <div class="list__element">
                <label for="description-{{ indexSubEntry }}-{{ subEntry }}"></label>
                <textarea
                  id="description-{{ indexSubEntry }}-{{ subEntry }}"
                  type="text"
                  formControlName="description"
                  class="form__input form__input--textarea text__primary--input"
                  placeholder="enter description"
                ></textarea>
              </div>

              <section formArrayName="details" class="form__wrap form__border">
                <h3 class="text__secondary text__secondary--h3">Details</h3>
                <app-links
                  [indexSubEntry]="indexSubEntry"
                  [formArray]="forms.getSubEntryControls(indexSubEntry, 'details')"
                  [target]="'details'"
                ></app-links>
              </section>

              <section formArrayName="externalLinks" class="form__wrap form__border">
                <h3 class="text__secondary text__secondary--h3">Links</h3>
                <app-links
                  [indexSubEntry]="indexSubEntry"
                  [formArray]="forms.getSubEntryControls(indexSubEntry, 'externalLinks')"
                  [target]="'externalLinks'"
                ></app-links>
              </section>

              <section formArrayName="screenshots">
                <h3 class="text__secondary text__secondary--h3">Screenshots</h3>
                <app-screenshot
                  [indexSubEntry]="indexSubEntry"
                  [formArray]="forms.getSubEntryControls(indexSubEntry, 'screenshots')"
                ></app-screenshot>
              </section>

              <div>
                <button
                  class="btn btn__icon--cancel"
                  type="button"
                  (click)="forms.removeSubEntries(indexSubEntry)"
                ></button>
                <button class="btn btn__icon--submit" type="submit"></button>
              </div>
            </div>
          }
        </section>
      </div>
    </div>
  </section>
</form>
