<form (ngSubmit)="sendDataToDB()" [formGroup]="forms.entryForm" class="form">
  <section class="form__wrap g-1">
    <h2 class="text__primary text__primary--h2">Knowledge Entry</h2>
    <div>
      <label for="title" class="text__primary">Title: </label>
      <input
        id="title"
        type="text"
        formControlName="title"
        placeholder="what topic is it about?"
        class="form__input form__input--title text__primary--input"
      />
    </div>

    <div class="form__group--edit">
      <label for="description" class="text__primary">Description: </label>
      <textarea
        id="description"
        type="text"
        formControlName="description"
        placeholder="enter the main description. sub-categories can be written in Sub Entry - section below"
        class="form__input form__input--description text__primary--input"
      ></textarea>
    </div>

    <div formArrayName="tags" class="form__group">
      <div class="form__wrap">
        <div class="header__nav">
          <h4 class="text__primary">Tags:</h4>
        </div>
      </div>
      @for (item of forms.tags.controls; track item; let tagIndex = $index) {
        <div class="form__wrap--tag">
          <button class="btn btn__icon--add" type="button" (click)="forms.addTags()"></button>

          <div class="form__group">
            <label for="tags-{{ tagIndex }}"></label>
            <input
              id="tags-{{ tagIndex }}"
              type="text"
              [formControlName]="tagIndex"
              class="form__input form__input--tag text__primary--input"
              placeholder="category"
            />
            <button
              class="btn btn__icon--delete"
              type="button"
              (click)="forms.removeTag(tagIndex)"
              [disabled]="$first"
            ></button>
          </div>
        </div>
      } @empty {
        <button class="btn btn__icon--add" type="button" (click)="forms.addTags()"></button>
      }
    </div>
  </section>
  <section>
    <div class="header__nav">
      <h2 class="text__primary text__primary--h2">Sub Entry:</h2>
      <button class="btn btn__icon--add" type="button" (click)="forms.addSubEntry()"></button>
    </div>
    <div formArrayName="subEntries">
      <div>
        <section class="form__group--sub-entry">
          @for (subEntry of forms.subEntries.controls; track subEntry; let indexSubEntry = $index) {
            <div
              [formGroupName]="indexSubEntry"
              class="form--sub-entry"
              (paste)="forms.addScreenshots($event, indexSubEntry)"
            >
              <div>
                <label for="subTitle-{{ indexSubEntry }}-{{ subEntry }}"></label>
                <input
                  id="subTitle-{{ indexSubEntry }}-{{ subEntry }}"
                  type="text"
                  formControlName="subTitle"
                  class="form__input form__input--description text__primary--input"
                  placeholder="enter sub-title"
                />
              </div>

              <div class="list__element">
                <label for="description-{{ indexSubEntry }}-{{ subEntry }}"></label>
                <textarea
                  id="description-{{ indexSubEntry }}-{{ subEntry }}"
                  type="text"
                  formControlName="description"
                  class="form__input form__input--textarea text__primary--input"
                  placeholder="enter description"
                ></textarea>
              </div>

              <div formArrayName="details" class="form__wrap form__border">
                <h3 class="text__secondary text__secondary--h3">Details</h3>
                @for (
                  detail of forms.getSubEntryControls(indexSubEntry, 'details').controls;
                  track detail;
                  let detailIndex = $index
                ) {
                  <div class="form__wrap--input">
                    <button
                      type="button"
                      (click)="forms.addSubEntryControls(indexSubEntry, 'details')"
                      class="btn btn__icon--add"
                    ></button>

                    <div class="form__wrap g-0">
                      <label for="detail-{{ indexSubEntry }}.{{ detailIndex }}"></label>
                      <input
                        id="detail-{{ indexSubEntry }}.{{ detailIndex }}"
                        type="text"
                        [formControlName]="detailIndex"
                        class="form__input text__primary--input"
                        placeholder="enter next detail {{ detailIndex + 1 }}"
                      />
                    </div>
                    <button
                      type="button"
                      (click)="forms.removeSubEntryCotrol(indexSubEntry, detailIndex, 'details')"
                      class="btn btn__icon--delete"
                    ></button>
                  </div>
                } @empty {
                  <button
                    type="button"
                    (click)="forms.addSubEntryControls(indexSubEntry, 'details')"
                    class="btn btn__icon--add"
                  ></button>
                }
              </div>

              <div formArrayName="externalLinks" class="form__wrap form__border">
                <h3 class="text__secondary text__secondary--h3">Links</h3>
                @for (
                  link of forms.getSubEntryControls(indexSubEntry, 'externalLinks').controls;
                  track link;
                  let linkIndex = $index
                ) {
                  <div class="form__wrap--input">
                    <button
                      type="button"
                      (click)="forms.addSubEntryControls(indexSubEntry, 'externalLinks')"
                      class="btn btn__icon--add"
                    ></button>
                    <div class="form__wrap g-0">
                      <label for="link-{{ indexSubEntry }}.{{ linkIndex }}"></label>
                      <input
                        id="link-{{ indexSubEntry }}.{{ linkIndex }}"
                        type="text"
                        [formControlName]="linkIndex"
                        class="form__input text__primary--input"
                        placeholder="add links here {{ linkIndex + 1 }}"
                      />
                    </div>
                    <button
                      type="button"
                      (click)="
                        forms.removeSubEntryCotrol(indexSubEntry, linkIndex, 'externalLinks')
                      "
                      class="btn btn__icon--delete"
                      [disabled]="$first"
                    ></button>
                  </div>
                } @empty {
                  <button
                    type="button"
                    (click)="forms.addSubEntryControls(indexSubEntry, 'externalLinks')"
                    class="btn btn__icon--add"
                  ></button>
                }
              </div>

              <div formArrayName="screenshots">
                @for (
                  screenshot of forms.getSubEntryControls(indexSubEntry, 'screenshots').controls;
                  track screenshot;
                  let screenshotIndex = $index
                ) {
                  @if ($first) {
                    <!-- <div
                      (paste)="forms.addScreenshots($event, indexSubEntry)"
                      class="upload-area upload-area__file"
                    ></div> -->
                  }
                  <div class="list list__element">
                    <div
                      class="list__element--wrap"
                      (mouseover)="clipboard.toggleDeleteBtn(screenshot.value)"
                      (mouseout)="clipboard.toggleDeleteBtn(screenshot.value)"
                    >
                      @if (screenshot.value.includes('blob')) {
                        <img class="img" [src]="screenshot.value" alt="" />
                      } @else {
                        <img
                          class="img"
                          src="{{ forms.storageImgPath + '/' + screenshot.value }}"
                          alt=""
                        />
                      }
                      @if (screenshot.value === clipboard.hoveredBlob) {
                        <button
                          type="button"
                          (click)="
                            forms.removeSubEntryCotrol(
                              indexSubEntry,
                              screenshotIndex,
                              'screenshots'
                            )
                          "
                          class="btn__hovered"
                        >
                          <img src="/img/close.svg" alt="" class="btn__hovered--delete" />
                        </button>
                      }
                    </div>
                  </div>
                }
                <!-- @empty {
                  <div class="list list__element"></div>
                  <div class="list__element--wrap"></div>
                } -->
              </div>

              <div>
                <button
                  class="btn btn__icon--cancel"
                  type="button"
                  (click)="forms.removeSubEntries(indexSubEntry)"
                ></button>
                <button class="btn btn__icon--submit" type="submit"></button>
              </div>
            </div>
          }
        </section>
      </div>
    </div>
  </section>
</form>
