@if (!edit()) {
  <div (paste)="forms.addScreenshots($event)" class="upload-area upload-area__file">
    @for (screenshot of forms.screenshots.controls; track screenshot; let indexUseCase = $index) {
      <div class="list list__element">
        <div
          class="list__element--wrap"
          (mouseover)="clipboard.toggleDeleteBtn(screenshot.value)"
          (mouseout)="clipboard.toggleDeleteBtn(screenshot.value)"
        >
          <img [src]="screenshot.value" alt="" />
          @if (screenshot.value === clipboard.hoveredBlob) {
            <button
              type="button"
              (click)="forms.removeScreenshot(indexUseCase)"
              class="btn__hovered"
            >
              <img src="/img/close.svg" alt="" class="btn__hovered--delete" />
            </button>
          }
        </div>
      </div>
    } @empty {
      <div class="list list__element"></div>
      <div class="list__element--wrap"></div>
    }
  </div>
} @else if (edit()) {
    <h2>edit</h2>
  @for (screenshot of forms.screenshots.controls; track screenshot; let index = $index) {
    <div class="list list__element">
      <div
        class="list__element--wrap"
        (mouseover)="clipboard.toggleDeleteBtn(screenshot.value)"
        (mouseout)="clipboard.toggleDeleteBtn(screenshot.value)"
      >
      @if (db.readScreenshot(screenshot.value).includes('localhost')) {
        <img [src]="screenshot.value" alt="aaa" />
      }
        <img [src]="db.readScreenshot(screenshot.value)" alt="" />
        @if (screenshot.value === clipboard.hoveredBlob) {
          <button type="button" (click)="forms.removeTempDBScreenshot(index)" class="btn__hovered">
            <img src="/img/close.svg" alt="" class="btn__hovered--delete" />
          </button>
        }
      </div>
    </div>
  }

  <div (paste)="forms.addScreenshots($event)" class="upload-area upload-area__file">
    paste area
    @for (screenshot of clipboard.tempFiles; track $index) {
      <img [src]="screenshot" alt="" />
    }
  </div>
}
