@use '../abstracts/' as *;

.grid {
  display: grid;
  grid-template-columns: 60px auto;
   min-height: 100dvh;
  grid-template-rows: 120px 1fr;
  grid-template-areas:
    'header header'
    'nav main';
  background-color: #013e37;
  transition: 0.5s ease;

  &__header {
    grid-area: header;
    background: #013e37;
    color: #ffefb3;
    text-align: center;
  }
  &__nav {
    grid-area: nav;
    background: #013e37;
    color: #ffefb3;
    z-index: 1;

    @include respond(m) {
      background-color: #013e37;
    }
  }
  &__main {
    grid-area: main;
    background: #ffefb3;
    border-radius: 20px 40px 20px 20px;
    z-index: 2;
  }

  @include respond(m) {
    grid-template-columns: 100%;
    grid-template-rows: 80px 80px 1fr;
    grid-template-areas:
      'header'
      'nav'
      'main';

  }

  @include respond(null, m) {
    &:has(&__nav:hover) {
      transition: 0.5s ease-in-out;
      grid-template-columns: 200px auto;
      
    }
  }
}
