@use '../abstracts/' as *;

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  cursor: default;
  font-family: roboto;
}

* {
  box-sizing: border-box;
}

.flex-center-end{
  @include dFlex($fd: unset, $ai: flex-end);
  @include size($h: 100%);
}