@use '../../scss/abstracts/index' as *;

.title {
  @include font($ff: NerkoOne, $fw: 600);
  text-align: start;
  color: #ffb770;
  word-break: break-word;
  &--medium {
    margin-bottom: unset;
    font-size: clamp(3.5rem, 6.25rem, 6vw);
  }
  &--small {
    margin-bottom: unset;
    font-size: clamp(2.5rem, 4.5rem, 4vw);
  }
  &--xsmall {
    margin-bottom: unset;
    font-size: clamp(1.5rem, 2rem, 3vw);
  }
  &--center {
    text-align: center;
  }
  &--secondary {
    color: black;
  }
  &--wrap {
    @include dFlex($jc: space-between, $ai: end,  $fd: row, $g: 8px);
     @include size($w: 100%);
  }
}

.list {
  &--parent {
    @include dFlex();
  }

  &--element {
    @include dFlex();
    @include size($w: 50%);
    @include respond(l) {
      width: 60%;
    }
    @include respond(m) {
      width: 70%;
    }
  }
}

.text {
  @include font($fs: clamp(1.25rem, 1.5rem, 2vw));
  @include size($w: stretch);
  margin: 0;
  &--description {
    @include size();
    text-align: justify;
  }
  &--white {
    color: white;
    &__xslim {
      font-size: 12px !important;
      font-weight: 200 !important;
    }
    width: fit-content;
    text-align: start;
    @include respond(m) {
      text-align: start !important;
    }
  }
  &--info {
    @include font($fs: clamp(1.5rem, 2rem, 2vw));
  }
  &--secondary {
    @include font($fs: clamp(1rem, 1rem, 2vw));
    color: #ffcfa1;
  }
  &--tertiary {
    color: #221227;
    &__purple {
      color: #35273a;
      width: 100%;
    }
    &__highlight {
      color: #35273a;
      font-weight: 700;
    }
  }
  &--error {
    color: red;
    &::placeholder {
      animation: 0.75s pulse ease-out;
    }
  }
  &--optional{
    font-weight: 100 !important;
  }
}

.headline {
  &--secondary {
    width: unset;
  }
}

.number--percent {
  @include font($fw: 800, $fs: clamp(1rem, 1rem, 1vw));
  color: #d79451;
}
