@use '../../../scss/abstracts/' as *;

.content__wrap {
  padding: 24px;
  @include respond(s) {
    padding: 24px 8px 0 8px;
  }
}

.knowledge-entry {
  background-color: #08332b;
  padding: 8px;
  border-radius: 24px;
  &__content {
    @include dFlex($ai: unset, $g: 16px);
  }
  &__main {
    @include dFlex($ai: unset, $jc: unset, $g: 16px);
  }
}

.sub-entry {
  @include dFlex($ai: flex-start);
  margin-top: 8px;
  word-break: break-word;
  text-overflow: ellipsis;
  &__accordion {
    @include dFlex($ai: flex-start, $g: 8px);
  }
}

.list {
  list-style-image: url('/img/arrow_white_16.svg');
  &--link {
    list-style-image: url('/img/arrow_white_24.svg');
    list-style-position: inside;
  }
}

.code {
  &--wrap {
    @include dFlex($fd: unset);
    padding: 4px;
    border-radius: 16px;
    max-width: 100%;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }
  &--box {
    background-color: #121314;
    box-shadow: inset 0px 0px 16px #979797;
    color: #b3b3b3;
    padding: 8px;
    border-radius: 8px;
    margin: 4px;
  }
}

.link {
  @include font($fs: clamp(1rem, 1.5rem, 2vw));
  color: #1b93c3;
  &__title {
    color: #99b7dde6;
  }
}

.btn {
  &__wrap {
    @include dFlex($fd: row);
    background-color: #013e37;
    border-radius: 0.5rem;
    border: 1px solid #013e37;
    padding: 0 8px;
    margin: unset;
    &:hover {
      background-color: rgba(1, 62, 55, 0.3843137255);
    }
    @include respond(m){
      padding: unset;
    }
  }
  &__icon {
    @include size($h: 38px, $w: 38px);
  }
  &__text {
    @include font($fw: 600, $fs: clamp(1rem, 1.25rem, 1.375rem));
    color: whitesmoke;
    @include respond(m){
      display: none;
    }
  }
}

.side-nav{
  @include dFlex();
  @include size($h: 100%);
}

.sub-header {
  @include size($h: 100px);
  @include dFlex($fd: unset, $jc: space-between, $ai: center, $g: 80px);
  margin: 0 0 32px 0;
  background: #ffefb3;
  position: sticky;
  top: 0;
  @include respond(m) {
    gap: 16px;
    height: 100%;
  }
}

.sticky{
    padding: 16px 0px 24px 0px;

}
