@if (forms.surveyForm) {
  <form (ngSubmit)="updateRow()" [formGroup]="forms.surveyForm" class="form">
    <div class="header__nav">
      <h3>
        Edit: {{ forms.surveyForm.controls.language.value }} -
        {{ forms.surveyForm.controls.syntax.value }}
      </h3>
      <button class="btn btn__icon--cancel" type="button" (click)="cancelInput(null)"></button>
    </div>

    <div class="card">
      <label for="syntax">Syntax: </label>
      <input id="syntax" type="text" formControlName="syntax" />

      <label for="description">Description: </label>
      <input id="description" type="text" formControlName="description" />

      <label for="return_value">return Value: </label>
      <input id="return_value" type="text" formControlName="return_value" />

      <div formArrayName="properties" class="form__group--edit">
        <div class="header__nav">
          <h4>Properties:</h4>
          <button class="btn btn__icon--add" type="button" (click)="forms.addProperty()"></button>
        </div>
        <ul class="list">
          @for (item of forms.properties.controls; track item; let indexProperties = $index) {
            <li class="list list__element">
              <label for="properties-{{ indexProperties }}">{{ indexProperties + 1 }}: </label>
              <input
                id="properties-{{ indexProperties }}"
                type="text"
                [formControlName]="indexProperties"
              />
              <button
                class="btn btn__icon--delete"
                type="button"
                (click)="forms.removeProperty(indexProperties)"
              ></button>
            </li>
          }
        </ul>
      </div>

      <div formArrayName="use_cases" class="form__group--edit">
        <div class="header__nav">
          <h4>Use Cases:</h4>
          <button class="btn btn__icon--add" type="button" (click)="forms.addUseCase()">+</button>
        </div>
        <ul class="list">
          @for (item of forms.useCases.controls; track item; let indexUseCase = $index) {
            <li class="list list__element">
              <label for="use_cases-{{ indexUseCase }}">useCase: </label>
              <input
                id="use_cases-{{ indexUseCase }}"
                type="text"
                [formControlName]="indexUseCase"
              />
              <button
                class="btn btn__icon--delete"
                type="button"
                (click)="forms.removeUseCase(indexUseCase)"
              ></button>
            </li>
          }
        </ul>
      </div>

      <div formArrayName="screenshots" class="form__group--edit">
         <!-- @for (screenshot of forms.screenshots.controls; track $index; let index = $index) {
            <div class="list list__element">
              <div
                class="list__element--wrap"
                (mouseover)="clipboard.toggleDeleteBtn(screenshot.value)"
                (mouseout)="clipboard.toggleDeleteBtn(screenshot.value)"
              >
                <img [src]="db.readScreenshot(screenshot.value)" alt="asd" />
                @if (screenshot.value === clipboard.hoveredBlob) {
                  <button
                    type="button"
                    (click)="forms.removeTempDBScreenshot(index)"
                    class="btn__hovered"
                  >
                    <img src="/img/close.svg" alt="" class="btn__hovered--delete" />
                  </button>
                }
              </div>
            </div>
          }

        <div (paste)="clipboard.addTempScreenshot($event)" class="upload-area upload-area__file">
          paste area
          @for (screenshot of clipboard.tempFiles; track $index) {
            <img [src]="screenshot" alt="" />
          }
        </div> -->
        <app-screenshot-upload-area [edit]="true"></app-screenshot-upload-area>
      </div>

      <button
        class="btn btn__icon--delete"
        type="button"
        (click)="db.deleteEntryFromDB(forms.surveyForm.controls.id)"
      ></button>
      <button class="btn btn__icon--submit" type="submit"></button>
    </div>
  </form>
}
