<form (ngSubmit)="sendDataToDB()" [formGroup]="surveyForm" class="form">
  <label for="language">Language: </label>
  <input id="language" type="text" formControlName="language" />

  <label for="syntax">Syntax: </label>
  <input id="syntax" type="text" formControlName="syntax" />

  <label for="description">Description: </label>
  <input id="description" type="text" formControlName="description" />

  <label for="return_value">returnValue: </label>
  <input id="return_value" type="text" formControlName="return_value" />

  <div formArrayName="properties">
    <div class="header__nav">
        <h4>Properties:</h4>
    <button type="button" (click)="addProperty()">+</button>
    </div>
    <ul class="list">
      @for (item of properties.controls; track item; let indexProperties = $index) {
        <li class="list list__element">
          <label for="properties-{{ indexProperties }}">{{ indexProperties + 1 }}: </label>
          <input
            id="properties-{{ indexProperties }}"
            type="text"
            [formControlName]="indexProperties"
          />
          <button type="button" (click)="removeProperty(indexProperties)">-</button>
        </li>
      }
    </ul>
  </div>

  <div formArrayName="use_cases">
    <div class="header__nav">
        <h4>Use Cases:</h4>
        <button type="button" (click)="addUseCase()">+</button>
    </div>
    <ul class="list">
      @for (item of useCases.controls; track item; let indexUseCase = $index) {
        <li class="list list__element">
          <label for="use_cases-{{ indexUseCase }}">{{ indexUseCase + 1 }}: </label>
          <input id="use_cases-{{ indexUseCase }}" type="text" [formControlName]="indexUseCase" />
          <button type="button" (click)="removeUseCase(indexUseCase)">-</button>
        </li>
      }
    </ul>
  </div>
  <button type="submit">Submit</button>
</form>
