/* You can add global styles to this file, and also import other style files */
@use 'app/scss/main.scss' as *;

.language-sql {
  display: block;
  font-weight: 600;
  font-size: clamp(1rem, 1.25rem, 1vw);
}

.token {
  font-weight: 600;
  font-size: clamp(1rem, 1.25rem, 1vw);
}

.keyword, .boolean  {
  color: #00807b !important;
}

.comment {
  color: #53735a !important;
  font-style: italic;
}

.operator {
  color: #00807b !important;
}

