/* You can add global styles to this file, and also import other style files */
@use 'app/scss/main.scss' as *;

.language-sql{
    display: block;
}

.token {
  font-weight: 600;
  font-size: clamp(1rem, 1.25rem, 1vw);
}

.token.keyword {
  color: #00807b;
}

.token.operator {
  color: #d19914bf;
}

